* {
  margin: 0;
  padding: 0;

  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
  color: #fff;
}

body {
  background: #000;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

#main {
  position: absolute;

  top: 40px;
  left: 280px;

  width: 500px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;

  font-size: 15px;

  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar h2 a:link,
#sidebar h2 a:visited {
  color: blue;
}

#sidebar h2 a:hover {
  color: #f90;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}

code {
  color: green;
}

pre {
  color: white;
  background-color: black;
  padding: 1em;
  font-family: monospace;
  overflow-x: auto;
}

pre code {
  color: white;
  font-family: monospace;
}

pre.license {
  color: gray;
  background-color: transparent;
  font-size: 10px;
  font-family: normal;
}

blockquote {
  margin-left: 0.5em;
  padding-left: 1em;
  border-left: 1px solid #ccc;
}

table {
  width: 100%;
  border:1px solid #ccc;
}

td {
  border-top: 1px solid #ccc;
  padding: 2px;
}

table.CodeRay {
  border: 0px solid #ccc;
  padding: 0px;
}

table.CodeRay pre {
  padding: 0em;
}

table.CodeRay td {
  border: 0px solid #ccc;
}

table.CodeRay td.line-numbers {
  border: 0px solid gray;
  padding-right: 5px;
}

table.CodeRay td.line-numbers a,
table.CodeRay td.line-numbers a:link,
table.CodeRay td.line-numbers a:visited,
table.CodeRay td.line-numbers a:hover {
  font-family: monospace;
}

table.CodeRay td.code {
  border: 0px solid gray;
  padding: 0px;
  margin: 0px;
}
