<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title]%> - TheSLinux</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="http://theslinux.org/rss/" rel="alternate" type="application/rss+xml" title="News from TheSLinux">
  </head>
  <body>
    <div id="cssmenu">
      <ul class="pureCssMenu pureCssMenum">
        <li class="pureCssMenui"><a class="pureCssMenui" href="/">Trang đầu</a></li>
        <li class="pureCssMenui"><a class="pureCssMenui" href="#"><span>Người dùng</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="pureCssMenum">
          <li class="pureCssMenui"><a class="pureCssMenui" href="/news/">Tin tức</a></li>
          <li class="pureCssMenui"><a class="pureCssMenui" href="/doc/">Tài liệu</a></li>
          <li class="pureCssMenui"><a class="pureCssMenui" href="/faq/">Hỏi - đáp</a></li>
          <li class="pureCssMenui"><a class="pureCssMenui" href="/about/">Giới thiệu</a></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]--></li>
        <li class="pureCssMenui"><a class="pureCssMenui" href="#"><span>Phát triển</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="pureCssMenum">
          <li class="pureCssMenui"><a class="pureCssMenui" href="/bugs/">Báo lỗi</a></li>
          <li class="pureCssMenui"><a class="pureCssMenui" href="/hackers/">Hướng dẫn</a></li>
          <li class="pureCssMenui"><a class="pureCssMenui" href="/hackers/core-team/">Đội phát triển</a></li>
          <li class="pureCssMenui"><a class="pureCssMenui" href="/sponsors/">Tài trợ</a></li>
          <li class="pureCssMenui"><a class="pureCssMenui" href="/donations/">Đóng góp</a></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]--></li>
        <li class="pureCssMenui"><a class="pureCssMenui" href="#"><span>Kết nối</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="pureCssMenum">
          <li class="pureCssMenui"><a class="pureCssMenui" href="https://twitter.com/theslinux">Twitter</a></li>
          <li class="pureCssMenui"><a class="pureCssMenui" href="https://facebook.com/theslinux/">Facebook</a></li>
          <li class="pureCssMenui"><a class="pureCssMenui" href="/lists/">Nhóm thư</a></li>
          <li class="pureCssMenui"><a class="pureCssMenui" href="/contact/">Liên hệ</a></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]--></li>
        <li class="pureCssMenui"><a class="pureCssMenui" href="/security/">Security</a></li>
        <li class="pureCssMenui"><a class="pureCssMenui" href="#"><span>Mirror</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="pureCssMenum">
          <li class="pureCssMenui"><a class="pureCssMenui" href="http://m0.theslinux.org<%= @item.identifier %>">m0: Singapore</a></li>
          <li class="pureCssMenui"><a class="pureCssMenui" href="http://m1.theslinux.org<%= @item.identifier %>">m1: Đức</a></li>
          <li class="pureCssMenui"><a class="pureCssMenui" href="http://m4.theslinux.org<%= @item.identifier %>">m4: Pháp</a></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]--></li>
      </ul>
    </div>

    <div id="main">
      <% if @item[:title] %>
      <h1><%= @item[:title] %></h1>
        <%
          metas = []
          valid_tags = (@item[:tags] || []).select{|tag| tag.match(/^[a-z0-9]+[a-z0-9-]*[a-z0-9]$/)}
          if not valid_tags.empty?
            metas << "<strong>Thẻ:</strong> " \
                      + valid_tags.map{|t| link_for_tag(t, "/tags/") }.join(", ")
          end
          if @item[:author] or @item[:authors]
            metas << "<strong>Tác giả:</strong> #{item[:author] ||@item[:authors]}"
          end
          if @item[:origin]
            metas << "<strong>Bài gốc:</strong> <a href=\"#{@item[:origin]}\">#{@item[:origin]}</a>"
          end
          if @item[:license]
            metas << "<strong>Giấy phép:</strong> #{@item[:license]}"
          end
          if @item[:translators] or @item[:translator]
            metas << "<strong>Người dịch:</strong> #{item[:translators] ||@item[:translator]}"
          end

          parent_post = File.dirname(@item.identifier)
          if parent_post != "/" and not @item[:virtual]
            metas << "<strong>Bài mẹ:</strong> <a href=\"#{parent_post}\">#{parent_post}</a>"
          end
        %>
        <% if not metas.empty? %>
        <p>
          <%= metas.join("\n<br />\n")%>
        </p>
        <% end %>
      <% end %>
      <%= yield %>
      <% if not @item[:virtual] %>
      <p>
        ----
        <br /><em><%= git(:stat, @item) %>;</em>
        <br /><em><%= git(:last_update, @item) %></em>
      </p>
      <% end %>
      <%=
        ret = license_text(@item[:license]).strip
        ret.empty? ? '' : "<pre class='license'>#{ret}</pre>"
        %>
    </div>
  </body>
</html>
