<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title]%> - TheSLinux</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
    <link href="http://theslinux.org/rss/" rel="alternate" type="application/rss+xml" title="News from TheSLinux">
  </head>
  <body>
    <div id="main">
      <% if @item[:title] %>
      <h1><%= @item[:title] %></h1>
        <%
          metas = []
          valid_tags = (@item[:tags] || []).select{|tag| tag.match(/^[a-z0-9]+[a-z0-9-]*[a-z0-9]$/)}
          if not valid_tags.empty?
            metas << "<strong>Thẻ:</strong> " \
                      + valid_tags.map{|t| link_for_tag(t, "/tags/") }.join(", ")
          end
          if @item[:author] or @item[:authors]
            metas << "<strong>Tác giả:</strong> #{item[:author] ||@item[:authors]}"
          end
          if @item[:origin]
            metas << "<strong>Bài gốc:</strong> <a href=\"#{@item[:origin]}\">#{@item[:origin]}</a>"
          end
          if @item[:license]
            metas << "<strong>Giấy phép:</strong> #{@item[:license]}"
          end
          if @item[:translators] or @item[:translator]
            metas << "<strong>Người dịch:</strong> #{item[:translators] ||@item[:translator]}"
          end

          parent_post = File.dirname(@item.identifier)
          if parent_post != "/" and not @item[:virtual]
            metas << "<strong>Bài mẹ:</strong> <a href=\"#{parent_post}\">#{parent_post}</a>"
          end
        %>
        <% if not metas.empty? %>
        <p>
          <%= metas.join("\n<br />\n")%>
        </p>
        <% end %>
      <% end %>
      <%= yield %>
      <% if not @item[:virtual] %>
      <p>
        ----
        <br /><em><%= git(:stat, @item) %>;</em>
        <br /><em><%= git(:last_update, @item) %></em>
      </p>
      <% end %>
      <%=
        ret = license_text(@item[:license]).strip
        ret.empty? ? '' : "<pre class='license'>#{ret}</pre>"
        %>
    </div>
    <div id="sidebar">
      <h2><a href="/">TheSLinux</a></h2>
      <ul>
        <li><a href="/news/">tin tức</a>
          , <a href="/about/">giới thiệu</a></li>
        <li><a href="/faq/">hỏi - đáp</a>
          , <a href="/doc/">tài liệu</a></li>
        <li><a href="/donations/">đóng góp</a>
          , <a href="/sponsors/">tài trợ</a></li>
        <li>&nbsp;</li>
        <li><a href="/bugs/">báo lỗi</a></li>
        <li><a href="/security/">!! security</a>
          , <a href="/security/hackme/">hack me !!</a></li>
      </ul>
      <ul>
        <li><a href="/lists/">nhóm thư</a>
          , <a href="https://github.com/TheSLinux/gs/issues?state=open">việc đang làm</a></li>
        <li><a href="https://twitter.com/theslinux/">twitter</a>
          , <a href="https://facebook.com/theslinux/">facebook</a>
        <li>email: <strong>info</strong> @ <strong>domain</strong></li>
      </ul>
      <ul>
        <li><a href="/tags/">thẻ bài viết</a>
          , <a href="https://github.com/TheSLinux/">mã nguồn</a>
        <li><a href="http://www.google.com.vn/?q=site:theslinux.org+&nbsp;">tìm với Google</a></li>
      </ul>
      <ul>
        <li><a href="http://m0.theslinux.org<%= @item.identifier %>">mirror 0</a>
          | <a href="http://m1.theslinux.org<%= @item.identifier %>">mirror 1</a></li>
        <li><a href="http://m3.theslinux.org<%= @item.identifier %>">mirror 3</a>
          | <a href="http://m4.theslinux.org<%= @item.identifier %>">mirror 4</a></li>
      </ul>
    </div>
  </body>
</html>
