<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title]%> - TheSLinux</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
    <link href="http://theslinux.org/rss/" rel="alternate" type="application/rss+xml" title="News from TheSLinux">
    <style>
#main {
  position: absolute;

  top: 40px;
  left: 30px;

  width: 567px;
}
    </style>
  </head>
  <body>
    <div id="main">
      <h1 style="white-space: nowrap"><%= @item[:title] %></h1>
      <%= yield %>
    </div>
  </body>
</html>
